@model MVC_CRUD_VARGAS.Models.Usuario

@{
    ViewData["Title"] = "Detalles";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Detalles del Usuario</h1>

            <div>
                <h4>Usuario</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Fecha)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Fecha)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Clave)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Clave)
                    </dd>
                </dl>
            </div>

            <div class="text-center mt-4">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning mx-1">Editar</a>
                <a asp-action="Index" class="btn btn-secondary mx-1">Volver a la Lista</a>
            </div>
        </div>
    </div>
</div>
